@model IEnumerable<entities.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1" width="60%">
    <tr>
        <th width="22%"></th>
        <th>Id</th>
        <th>Code</th>
        <th>Description</th>
    </tr>

    @foreach (var item in (IEnumerable<entities.Product>)ViewData["products"])
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = @item.Id, code = @item.Code, description = item.Description }) |
                @Html.ActionLink("Details", "Details", new { id = @item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = @item.Id })
            </td>
            <td>@item.Id</td>
            <td>@item.Code</td>
            <td>@item.Description</td>
        </tr>
    }

</table>
